---
import Section from "../Section.astro";
import WorldMap from "../../icons/WorldMap.astro";
import Data from "../../icons/Data.astro";

import { PROJECTS } from "../../consts/consts";
const finalProjects = PROJECTS.filter((project) => !project.hidden)
  .slice()
  .reverse();
import { Github, Twitch, Instagram } from "simple-icons-astro";
---

<Section>
  <header class="flex flex-col gap-4 mb-4">
    <h2
      class="flex items-center gap-2 text-xl font-bold text-[rgb(var(--dark),.85)] text-pretty tracking-tighter"
    >
      <Data class="w-6 h-6" />
      Proyectos
    </h2>
    <p
      class="text-sm font-light text-pretty leading-5 text-[rgb(var(--dark),.55)] tracking-tight"
    >
      Tengo la inquietante necesidad de construir cosas. A veces el trabajo
      fluye con facilidad, otras veces me cuestiono mis decisiones.
    </p>
  </header>

  <div
    class="grid gap-4 mb-6 lg:mb-16 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 max-w-4xl mx-auto"
  >
    {
      finalProjects.map((project, reversedIndex) => {
        const index = finalProjects.length - reversedIndex - 1;
        const num = `${index + 1}`.padStart(2, "0");
        return (
          <article class="relative items-center text-[rgb(var(--dark),.85)] rounded-lg">
            <a
              href={`/${project.slug}`}
              class="group hover:scale-105 block transition"
            >
              <span class="group-hover:scale-[2] transition-all group-hover:top-4 group-hover:left-6 opacity-70 group-hover:opacity-100 absolute top-4 left-2 -rotate-12 text-2xl font-bold text-[#fffefe]">
                #{num}
              </span>
              <img
                src={`./projects/${num}.webp`}
                alt={`Captura de pantalla del proyecto ${project.title}`}
                class="w-full rounded-lg overflow-hidden object-cover aspect-video"
              />
            </a>
            <div class="p-2">
              <h2 class="text-[18px] font-semibold tracking-tighter text-[rgb(var(--dark),.85)]">
                <a
                  href={`/${project.slug}`}
                  class="hover:text-[rgb(var(--accent-65),.85)] transition"
                >
                  {project.title}
                </a>
              </h2>

              <p class="mt-3 mb-4 font-light text-[rgb(var(--dark),.55)] text-xs text-pretty">
                {project.description}.
              </p>

              <ul class="inline-flex flex-wrap gap-2">
                {project.learnings.map((learning) => (
                  <li class="text-[10px] font-light font-mono text-[rgb(var(--dark),.6)] tracking-tight bg-[rgb(var(--dark),.05)] px-2 py-1 rounded-full">
                    {learning}
                  </li>
                ))}
              </ul>

              <ul class="flex flex-wrap gap-2 mt-4">
                <li>
                  <a
                    href={`https://github.com/Edirju/ediriv-office/tree/main/public/projects/${project.slug}`}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="inline-flex gap-1 items-center justify-center px-2 py-1 text-xs font-medium text-center text-[rgb(var(--dark),.65)] bg-[rgb(var(--light))] transition border border-[rgb(var(--dark),.25)] rounded-lg hover:bg-[rgb(var(--dark),.05)] "
                  >
                    <Github class="w-4 h-4" />
                    Código
                  </a>
                </li>
                <li>
                  <a
                    href={`/${project.slug}`}
                    class="inline-flex gap-1 items-center justify-center px-2 py-1 text-xs font-semibold text-center text-[rgb(var(--accent-65),.65)] bg-[rgb(var(--light))] transition border border-[rgb(var(--accent-65),.25)] rounded-lg hover:bg-[rgb(var(--accent-65),.1)]"
                  >
                    <WorldMap class="w-4 h-4" />
                    Demo
                  </a>
                </li>
                {/* {
                  project.youtube != null && (
                    <li>
                      <a href="#" target="_blank" rel="noopener noreferrer" class="inline-flex items-center justify-center px-3 py-2 text-xs font-semibold text-center text-[rgb(var(--accent-55),.65)] bg-[rgb(var(--light))] transition border border-[rgb(var(--accent-55),.25)] rounded-lg hover:bg-red-600/20 md:text-sm">
                        Video
                      </a>
                    </li>
                  )
                } */}
              </ul>
            </div>
          </article>
        );
      })
    }
    <article
      class="relative text-[rgb(var(--dark),.85)] min-h-60 items-center rounded-lg bg-gray-100/80"
    >
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="group hover:scale-105 transition flex justify-center flex-col h-full items-center font-light text-center text-sm text-[rgb(var(--dark),.55)]"
      >
        <Github class="w-8 h-8 mb-2" />
        Próximamente en Github<br />
        siguiente proyecto...
      </a>
    </article>
  </div>
</Section>
